@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	height: 100vh;
	width: 100%;
	background-image: url(images/background-01.gif);
	background-position: center;
	background-size: cover; 
	padding: 0 8%;
	position: relative;
}

#sideNav {
	width: 250px;
	height: 100vh;
	position: fixed;
	right: -250px;
	top: 0;
	background: #F99;
	z-index: 2;
	transition: .5s;
}

nav ul {
	margin-top: 130px;
}

nav ul li {
	list-style: none;
	margin: 50px 20px;
	
}

nav ul li a {
	display: block;
	text-align: center;
	background: linear-gradient(45deg, #F90, #F69);
	border-radius: 6px;
	padding: 10px 20px;
	box-sizing: border-box;
	text-decoration: none;
	color: #fff;
	box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
}

#menuBtn {
	width: 50px;
	position: fixed;
	right: 45px;
	top: 35px;
	z-index: 2;
	cursor: pointer;
}

#logo {
	width: 100px;
	position: fixed;
	top: 35px;
	left: 25px;
	cursor: pointer;	
}

.icon {
	width: 40px;
	cursor: pointer;
}

/*START of editable content*/
.container h1 {
	text-align: center;
	padding-top: 3%;
	margin-bottom: 5px;
	font-family: "Courier New", Courier, monospace;
	font-weight: 600;
	position: relative;
}

.container p {
	text-align: center;
	margin-bottom: 40px;
	font-family: "Courier New", Courier, monospace;
	position: relative;		
}

.row {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 20px;
}

.anime-list {
	text-align: center;
	padding: 10px 10px;
	border-radius: 5 px;
	font-size: 10px;
	cursor: pointer;
	background: transparent;
	transition: transform 0.5s, background 0.5s;
}

.anime-list iframe {
	width: 250px;
	margin-bottom: 5px;
}

.anime-list h2 {
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 8px;
}

.anime-list:hover {
	background: #FC6;
	color: #FFF;
	transform: scale(1.05);
}
/*END of editable content*/

.social-links {
	position: fixed;
	left: 30px;
	bottom: 50px;
}

.social-links img {
	width: 60px;
	padding: 12px;
	filter: grayscale();
	transition: filter 0.4s ease-in-out;
}

.social-links img:hover {
	filter: none;
}




